@font-face {
    font-family: AztechForest;
    src: url("../fonts/AztechForest-9YJa0.otf") format("opentype");
}

#money_cost {
    font-family: AztechForest;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: -50px;
    padding: 0px;
}
.container {
    display: flex; 
    flex-direction: row;
}

.container-center {
    justify-content: center;
}

.container-vertical {
    flex-direction: column;
    width: 300px;
}

.item  {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
}

.white-background {
    background-color: white;
    font-size: 24px;
}

.img_responsive {
    width: 100%; 
    max-width: 300px; 
    max-height:250px;
}

#item_0_0 {
    width: 400px;
    height: 300px;
    
}

#item_0_1 {
    height: 300px;
    flex-grow:1;
}

#item_1_1 {
    flex-grow:1;
}

